---
import Section from "./Section.astro";
---

<Section title="Model Y" subtitle="Concertar una prueba de conducción" color="black">
  <div slot="footer" class="flex gap-4 justify-center">
    <a class="border-[3px] border-white bg-white text-sm rounded font-medium text-slate-700 px-12 py-2 hover:bg-slate-700 hover:text-white hover:border-slate-700 transition-colors duration-300" href="#">Explorar Inventario</a>
    <a class="border-[3px] border-slate-700 bg-slate-700 text-sm rounded font-medium text-white px-12 py-2 hover:bg-white hover:text-black hover:border-white transition-colors duration-300" href="#">Pedido personalizado</a>
  </div>
  <img slot="background" class="h-full w-full object-cover object-center" src="/public/model-y.avif" alt="Model Y">
</Section>