<section class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden" data-header-color="black">
  <div class="z-30 relative flex flex-col h-full">
    <header>
      <h2 class="text-black pt-40 text-[40px] font-medium">Model Y</h2>
      <p class="text-black text-sm underline">Concertar una prueba de conducción</p>
    </header>
    <footer class="flex flex-col flex-grow justify-end pb-20">
      <div class="flex gap-4 justify-center">
        <a class="border-[3px] border-white bg-white text-sm rounded font-medium text-slate-700 px-12 py-2 hover:bg-slate-700 hover:text-white hover:border-slate-700 transition-colors duration-300" href="#">Explorar Inventario</a>
        <a class="border-[3px] border-slate-700 bg-slate-700 text-sm rounded font-medium text-white px-12 py-2 hover:bg-white hover:text-black hover:border-white transition-colors duration-300" href="#">Pedido personalizado</a>
      </div>
    </footer>
  </div>
  <div class="absolute top-0 bottom-0 w-full z-10">
    <img class="h-full w-full object-cover object-center" src="/public/model-y.avif" alt="Model Y">
  </div>
</section>